aiohappyeyeballs==2.3.6
aiohttp==3.10.3
aiosignal==1.3.1
alembic==1.13.2
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
astroid==3.2.4
async-timeout==4.0.3
asyncpg==0.29.0
attrs==24.2.0
backoff==2.2.1
bcrypt==4.2.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==14.0
contourpy==1.3.0
croniter==3.0.3
cryptography==43.0.1
cycler==0.12.1
dagster==1.8.4
dagster-cloud==1.8.4
dagster-cloud-cli==1.8.4
dagster-duckdb==0.24.4
dagster-duckdb-pandas==0.24.4
dagster-graphql==1.8.4
dagster-pipes==1.8.4
dagster-webserver==1.8.4
databases==0.9.0
dill==0.3.8
dnspython==2.6.1
docstring_parser==0.16
duckdb==1.0.0
email_validator==2.2.0
Faker==18.4.0
fastapi==0.112.0
fastapi-cli==0.0.5
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
github3.py==4.0.1
gql==3.5.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.66.1
grpcio-health-checking==1.62.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
humanfriendly==10.0
idna==3.7
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.4
kafka-python==2.0.2
kiwisolver==1.4.7
libcst==1.4.0
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.5
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pep8==1.7.1
pex==2.17.0
PGPy==0.6.0
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
prompt-toolkit==3.0.36
protobuf==4.25.4
psycopg2==2.9.9
pyasn1==0.6.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.9.0
pylint==3.2.6
pyparsing==3.1.4
pytest==8.3.2
pytest-asyncio==0.23.8
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
questionary==2.0.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.32
sqlmodel==0.0.21
starlette==0.37.2
strawberry-graphql==0.237.3
structlog==24.4.0
tabulate==0.9.0
tomli==2.0.1
tomlkit==0.13.0
toposort==1.10
tqdm==4.66.5
-e git+ssh://git@github.com/minhnq0702/python-test-and-tips.git@267546a4b57f24d98aae9a5aceba27582044ae5f#egg=tutorial&subdirectory=tutorial
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
universal_pathlib==0.2.3
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.30.5
uvloop==0.19.0
watchdog==5.0.2
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
yarl==1.9.4
